*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: system-ui, sans-serif;
}

body{
    background:#0b1d3a;
    color:white;
    overflow-x:hidden;
}

/* stelle */
#stars{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1;
}

/* sezioni */
.block, .question{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:40px 20px;
}

/* titoli */
h1{
    font-size:clamp(2.2rem,7vw,3.5rem);
    margin-bottom:20px;
}

h2{
    font-size:clamp(1.8rem,6vw,2.8rem);
    margin-bottom:30px;
}

/* testi */
p{
    max-width:550px;
    line-height:1.7;
    font-size:clamp(1.05rem,4vw,1.25rem);
    opacity:0;
    transform:translateY(40px);
    transition:all 0.8s ease;
}

/* quando appaiono */
.show{
    opacity:1;
    transform:translateY(0);
}

/* bottoni */
.buttons{
    display:flex;
    gap:20px;
}

button{
    padding:12px 28px;
    border:none;
    border-radius:12px;
    font-size:clamp(1rem,4vw,1.1rem);
    cursor:pointer;
    transition:transform .2s;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    user-select:none;
}

#yesBtn{
    background:#2ecc71;
    color:white;
}

#noBtn{
    background:#e74c3c;
    color:white;
    position:relative;
}

button:hover{
    transform:scale(1.08);
}

#response{
    margin-top:25px;
    font-size:clamp(1.05rem,4vw,1.2rem);
    opacity:1;
    max-width:550px;
}

/* HERO FOTO */

.hero{
    min-height:100vh;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    background:url("assets/sfondo.jpg") center/cover no-repeat;
}

/* scurisce leggermente */
.dark{
    position:absolute;
    inset:0;
    background:rgba(5,10,25,0.45);
}

/* testo sopra la foto */
.heroText{
    position:relative;
    z-index:2;
    padding:20px;
}


.biglietino{
    position: relative;
    left: 100%;
    top: 100%;
    transform: translate(-50%, -50%);

    

}